@font-face {
    font-family: myFirstFont;
    src: url(../images/AnimalTypeFaces.ttf);
    
}

#logo{
	font-family: myFirstFont, sans-seriff;
	text-align: center;
	font-size: 10vw;
	color: #00ccff;
	background-color: transparent;
	text-shadow: 2px 2px 3px black;
}

body{
	background-color: transparent;
	padding: 20px;
}

html{
height: 150%;
background: #b5f4ef; /* Old browsers */
background: -moz-linear-gradient(top,  white 0%,  lightyellow 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  white 0%, lightyellow 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  white 0%, lightyellow 100%);
}

#mainContainer{
	margin: auto;
	box-shadow: 5px 5px 10px lightblue;
	padding: 0px;
	border-radius: 20px;
	background-color: #6633cc;
	border: #0099ff 7px solid;
	

}

#buttonContainer{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;

	background-image: url('../images/pixel.gif');
	background-size: 200px;
	
	padding: 20px;
	border-bottom: 10px #00ccff solid;
}

#buttonContainer button{

color: white;
font-family: Arial, sans-serif;
padding: 10px;
margin:5px;
border: #000066 2px solid;
border-radius: 7px;
box-shadow: 3px 4px 5px black;

background: -moz-linear-gradient(top,  #000066 0%,  #00ccff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #000066 0%,  #00ccff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #000066 0%,  #00ccff 100%);

}

#buttonContainer button:hover{
	box-shadow: 1px 1px 3px black;
	border: #00ccff  2px solid;
	background: -moz-linear-gradient(top,  hotpink 0%,  purple 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, hotpink 0%,  purple 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  hotpink 0%,  purple 100%);

}



#gifContainer{
	background-image: url('../images/bk1.jpg');
	min-height: 500px;
	padding: 0px;
	border-right: white 4px solid;

}

#addGifContainer{
	min-height: 500px;
	background-color: transparent;
	background-image: url('../images/pandagif.gif');
	background-position: bottom;
	background-size: 100%;
	background-repeat: no-repeat;	
	text-align: center;	
	

}

#addGifContainer input{
	width: 100%;
	background-color: #00ccff;
	color: purple;
	border: #00ccff 2px solid;
	text-align: center;
	padding: 10px;
	font-size: 1em;
	margin:10px 0px;

}

#addGifContainer input:active{
	background-color:violet;
}

#addGifContainer input:nth-child(2){

	background-color: black;
	color: white;
	border-radius: 25px; 
	border: none;

}

#submitButton:hover{
	background-color: lightblue;
	color:white;
}

#addGifContainer form{
	padding: 40px 10px;
}

#addGifContainer form label{
padding: 10px;
border-radius: 10px;

	font-family: sans-serif;
	color: white;
	text-shadow: 2px 2px 3px purple;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;

}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}

.picDiv{
	display: inline-block;
	margin:10px;
	width:30%;
	text-align: center;

}

.picDiv img{
	width: 100%;
	box-shadow: 3px 3px 5px black;
	border-radius: 5px;
}

.picDiv p{
	color: hotpink;
	padding: 10px;
}

.picDiv img:hover{
 border: hotpink 2px solid;

}
